

.banner-picture{
    width: 100%;
    vertical-align: middle;
}

.concept-container{
    margin: 50px 15%;
}
.concept{
    margin: 20px 0;
}

.concept-container p{
    margin: 10px 0;
}

.music-container{
    display:flex;
    margin: 0 15%;
    align-items: center;
}

.music-img-container{
    width: 80%;
}

.music-img-container img{
    width: 100%;
    margin-right: 20px;
}

.music-list{
    width: 100%;
}
.music-item{
    margin-bottom: 20px;
    
}

.music-item a{
    text-decoration: none;
    font-weight: bold;
    color: orange;
}